#div1 img{
    margin-top: 30px;
    margin-left: 130px;
    z-index: -1;
    position: absolute;
    width: 1100px;
    height: 500px;
    border: 5px solid black;
}
#demo{
    margin-left: 200px;
    color: red;
    margin-top: 20px;
    font-family: 'Times New Roman', Times, serif;
}
#title{
width: 45%;
height: 50px;
    
}
#title:hover{
box-shadow: 0 0 2px 3px rgb(200,200,200);
}
#notes{
width:45%;
height: 140px;
}
#notes:hover{
box-shadow: 0 0 2px 3px rgb(200,200,200);
}
button{
background-color: blue;
color: black;
width: 180px;
height: 50px;
font-size: 30px;
border-radius: 30px;
}
nav{
background-image:linear-gradient(to right,purple, pink);
opacity: 0.8;
margin: 00px;
padding: 00px;
height: 70px;
position: sticky;
}
*{
margin: 0px;
padding: 0px;
}
a{
color: black;
padding: 10px;
font-size: 20px;
font-weight: bold;
}
#adding{
background-image: linear-gradient(to right,pink,purple);
}